@page "/Carousel"
@inject IJSRuntime _jsRuntime;

<h3>Carousel</h3>

<div id="@carousalName" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?w=2000" class="d-block w-100" alt="Slide1">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__480.jpg" class="d-block w-100" alt="Slide2">
        </div>
        <div class="carousel-item">
            <img src="https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg" class="d-block w-100" alt="Slide3">
        </div>
    </div>
</div>

@code {
    const string carousalName = "carouselExampleSlidesOnly";
    //protected override async Task OnInitializedAsync()
    //{
    //    object[] parametars = { carousalName };
    //    await _jsRuntime.InvokeVoidAsync("startCarousel", parametars);
    //}
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            object[] parametars = { carousalName };
            await _jsRuntime.InvokeVoidAsync("startCarousel", parametars);
        }
    }
}
