@page "/carousel"
@using BlazorWASM_Bootstrap.Components

<h3>Carousal</h3>

<Carousal Elements=carouselElements />

@code
{
    public List<CarouselElements> carouselElements = new List<CarouselElements>
    {
        new CarouselElements
        {
            Images = "https://picsum.photos/id/196/1920/1080",
            Alt = "Slide1",
            Labels = "First slide label",
            Description = "Some representative placeholder content for the First slide",
        },
        new CarouselElements
        {
            Images = "https://picsum.photos/id/1057/1920/1080",
            Alt = "Slide2",
            Labels = "Second slide label",
            Description = "Some representative placeholder content for the Second slide",
        },
        new CarouselElements
        {
            Images = "https://picsum.photos/id/1067/1920/1080",
            Alt = "Slide3",
            Labels = "Third slide label",
            Description = "Some representative placeholder content for the Third slide",
        },
        new CarouselElements
        {
            Images = "https://picsum.photos/id/190/1920/1080",
            Alt = "Slide4",
            Labels = "Fourth slide label",
            Description = "Some representative placeholder content for the Fourth slide",
        },
        new CarouselElements
        {
            Images = "https://picsum.photos/id/160/1920/1080",
            Alt = "Slide5",
            Labels = "Fifth slide label",
            Description = "Some representative placeholder content for the Fifth slide",
        },
    };
}